@import "config";

.hero {
  font-family: $font-family;
  &__half-bg {
    width: 100%;
    background: $color-primary;
    width: 50vw;
    height: 100vh;
    position: relative;
  }
  @media only screen and (max-width: 980px) {
    &__half-bg {
      width: 100%;
      height: 100vh;
    }
  }

  &__navbar {
    color: $primary-text-dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 9999;
    position: fixed;
    width: 100%;

    h1 {
      color: $primary-text-white;
      font-size: 45px;
      margin-bottom: 1rem;
      font-weight: 700;
      margin-left: 1rem;
    }
  }

  @media only screen and (max-width: 980px) {
    &__navbar {
      flex-direction: column;
    }
  }

  .navbar__menu {
    &__list {
      background: $primary-dark-gray;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 1rem;
      padding: 0.5rem 4rem;
      li {
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        transition: all 0.2s ease-in-out;
        width: 80px;
        text-align: center;
        a {
          color: $primary-text-white;
          text-decoration: none;
          font-size: 1.6rem;
          font-weight: 700;
        }
        &:hover {
          background: $color-primary;
          border-radius: 50px;
        }
      }
    }
  }
}

.lower__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  gap: 5rem;

  @media screen and (max-width: 980px) {
    flex-direction: column;
    gap: 2rem;
  }

  &__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    .custom--header-text-block {
      color: $primary-text-white;
      font-size: 2rem;
      font-weight: 600;
      margin-top: 2rem;
      display: flex;
      align-items: center;
    }
    .heading--support-image {
      width: 30px;
      margin-left: 1.5rem;
      z-index: -1;
    }
    .heading {
      font-weight: 600;
    }
    .heading--text {
      font-size: 35px;
      font-weight: 300;
      width: 400px;
      color: $primary-text-white;
    }
    .heading--btn {
      background: $color-primary;
      border: 1px solid $primary-text-white;
      border-radius: 50px;
      padding: 1rem 2rem;
      color: $primary-text-white;
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 2rem;
      transition: all 0.2s ease-in-out;
      display: block;
      width: 200px;
      &:hover {
        background: $primary-text-white;
        color: $color-primary;
      }
    }
    @media (max-width: 980px) {
      .heading--btn {
        width: 100%;
      }
    }
  }
  &__custom--image-1 {
    display: flex;
    align-items: center;

    .heading--main-image {
      max-width: 600px;
      z-index: -1;
    }
  }
  @media screen and (max-width: 980px) {
    &__custom--image-1 {
      position: absolute;
      opacity: 0.2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}
